* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	max-width: 500px;
	max-height: 640px;
	font-family: 'Roboto', 'Noto Sans CJK TC', 'PingFang TC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Microsoft JhengHei UI', 'Microsoft JhengHei', 'Microsoft YaHei UI', 'Microsoft YaHei', serif;
	margin: 0;
}

a {
	color: #007dc3;
}

.block_link_dark {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.block_link_dark:hover {
	background-color: rgba(0, 0, 0, .05);
	text-decoration: none;
}

.block_link_dark:active {
	background-color: rgba(0, 0, 0, .1);
	text-decoration: none;
}

#post_container_link {
	display: block;
}

#post_container {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-flex-direction: column;
	flex-direction: column;
	background-color: #fafafa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, .2);
	overflow: hidden;
}

#header {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 56px;
	padding: 16px;
	background-color: #fafafa;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

#logo {
	height: 24px;
	box-sizing: content-box;
	margin: -8px;
	padding: 8px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	margin-left: 16px;
}

#author_container {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#avatar {
	width: 24px;
	height: 24px;
	background-size: contain;
	background-color: #fafafa; /* A hack of Chrome bug https://goo.gl/0JG34w */
	line-height: 24px;
	font-size: 16px;
	color: white;
	text-align: center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

#author {
	display: block;
	margin-left: 8px;
	color: rgba(0, 0, 0, .87);
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#persona_id {
	display: block;
	margin-left: 8px;
	color: rgba(0, 0, 0, .54);
	line-height: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#media {
	display: block;
	position: relative;
	background-size: cover;
    background-position: top; 
	overflow: hidden;
	margin: 0 -1px 16px;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

#text_container {
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px;
	margin-top: -16px;
	overflow: hidden;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

#title_container {
	height: 40px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#title {
	display: block;
	color: rgba(0, 0, 0, .87);
	font-size: 24px;
	font-weight: normal;
	box-sizing: content-box;
	margin: -4px -8px;
	padding: 4px 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#forum {
	color: rgba(0, 0, 0, .54);
	font-size: 15px;
	line-height: 2;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	margin-left: 16px;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	background-color: rgba(0, 0, 0, .05);
	padding: 0 12px;
}

#content {
	display: block;
	height: 92px;
	color: rgba(0, 0, 0, .54);
	font-size: 15px;
	line-height: 24px;
	margin-top: 8px;
	overflow: hidden;
	position: relative;
}

#content:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5em;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgba(250, 250, 250, 1));
}

#post_link {
	display: block;
	width: 100%;
	font-size: 17px;
	text-align: center;
	margin-top: 4px;
	line-height: 32px;
	color: #007dc3;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}