* {
	box-sizing: border-box;
	font-family: 'Roboto', 'Noto Sans CJK TC', 'PingFang TC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Microsoft JhengHei UI', 'Microsoft JhengHei', 'Microsoft YaHei UI', 'Microsoft YaHei', serif;
}

body {
	color: rgba(0, 0, 0, .87);
	margin: 0;
	background-color: #ddd;
	line-height: 1.7;
	padding-bottom: 32px;
}

a {
	color: #007dc3;
}

input[type="checkbox"] {
	line-height: 18px;
	display: none;
}

input[type="checkbox"]+label {
	color: rgba(0, 0, 0, 87);
	cursor: pointer;
}

input[type="checkbox"]+label span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 8px 3px 0;
	vertical-align: middle;
	background: url(img/ic_checkbox_unchecked.svg) left top no-repeat;
}

input[type="checkbox"]:checked+label span {
	background: url(img/ic_checkbox_checked.svg) top no-repeat;
}

button,
input[type=text],
textarea {
	color: rgba(0, 0, 0, .87);
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	padding: 4px 8px;
	-webkit-transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
	-moz-transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
	-o-transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
	transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}

button {
	cursor: pointer;
	padding: 4px 8px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

button:focus {
	outline: 0;
}

input[type=text]:focus,
textarea:focus {
	outline: 0;
	border: 1px solid #007dc3;
}

input[type=text]:focus,
input[type=text]:hover,
textarea:focus,
textarea:hover,
button:focus,
button:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
}

input[type=text]:active,
textarea:active,
button:active {
	box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
}

button.primary {
	color: #fff;
	background-color: #007dc3;
	border: none;
}

button.primary:focus,
button.primary:hover {
	background-color: #3397cf;
}

button.primary:active {
	background-color: #66b1db;
}

.block_link_dark {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: none;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.image_button {
	display: inline-block;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: none;
	border: none;
	box-shadow: none;
	padding: 6px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

.image_button:focus,
.block_link_dark:focus,
{
	background-color: rgba(0, 0, 0, .05);
}

.image_button:hover,
.block_link_dark:hover {
	background-color: rgba(0, 0, 0, .05);
}

.image_button:active,
.block_link_dark:active {
	background-color: rgba(0, 0, 0, .1);
}

.image_button>div {
	width: 24px;
	height: 24px;
	background-size: 24px;
}

.image_button:hover,
.image_button:focus,
.image_button:active {
	box-shadow: none;
}

.block_title {
	color: #007dc3;
	font-size: 17px;
}

.block_caption {
	color: rgba(0, 0, 0, .54);
	font-size: 15px;
}

#header {
	background-color: #005788;
}

#header_content {
	background-color: #006aa6;
	height: 200px;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
}

#header_content>h1 {
	color: #fff;
	font-size: 32px;
	position: absolute;
	bottom: 0;
	font-weight: 300;
	padding: 0 32px;
	-webkit-transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
	-moz-transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
	-o-transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
	transition: font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
}

@media screen and (max-width: 630px) {
	#header_content {
		height: 100px;
	}
	#header_content>h1 {
		font-size: 24px;
	}
}

@media screen and (max-width: 480px) {
	#header_content {
		height: 56px;
	}
	#header_content>h1 {
		height: 56px;
		line-height: 56px;
		font-size: 17px;
		padding: 0 16px;
		margin: 0;
	}
}

#content {
	padding: 16px 32px;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fafafa;
	min-height: 400px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	-webkit-transition: padding 0.3s ease-in-out;
	-moz-transition: padding 0.3s ease-in-out;
	-o-transition: padding 0.3s ease-in-out;
	transition: padding 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
	body {
		background-color: #fafafa;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding-bottom: 0;
	}
}

@media screen and (max-width: 480px) {
	#content {
		padding: 16px;
	}
}

#input_container {
	max-width: 500px;
	overflow: hidden;
	padding: 8px;
	margin: -8px;
	display: -webkit-flex;
	display: flex;
	box-sizing: content-box;
	-webkit-align-items: center;
	align-items: center;
}

#post_input {
	width: 100%;
	height: 36px;
	font-size: 21px;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

#generate_button {
	height: 36px;
	display: block;
	float: left;
	font-size: 17px;
	margin-left: 8px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
}

#message_container {
	color: rgba(0, 0, 0, .54);
	margin-top: 32px;
}

#generated_content {
	width: 100%;
	display: none;
}

#generated_flex {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
}

#generated_edit {
	width: 100%;
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

#generated_image_settings {
	margin-top: 32px;
}

#image_controls {
	overflow: hidden;
	padding: 12px;
	margin: -4px -12px -12px -12px;
}

#image_checkbox_label {
	line-height: 36px;
	float: left;
	padding: 0 8px;
	margin: 0 -8px;
	outline: 0;
}

#image_chooser {
	height: 36px;
	float: left;
	margin-left: 16px;
}

#image_left_button,
#image_right_button {
	display: block;
	float: left;
}

#image_index {
	line-height: 36px;
	display: block;
	float: left;
	padding: 0 8px;
	color: rgba(0, 0, 0, .87);
}

#generated_code {
	width: 100%;
	max-width: 500px;
	margin-top: 32px;
}

#code_container {
	width: 100%;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	line-height: 1.5;
	resize: none;
	margin-top: 8px;
}

#copy_code_button {
	width: 100%;
	height: 36px;
	font-size: 17px;
}

#generated_embed {
	width: 100%;
	max-width: 500px;
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	margin-left: 16px;
	margin-top: 32px;
}

#embed_container {
	width: 100%;
	margin-top: 8px;
}

@media screen and (max-width: 800px) {
	#generated_flex {
		flex-direction: column;
	}
	#generated_embed {
		margin-left: 0;
	}
}